@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["is dashboard"] = true;


}
@*summery*@

<div class="row mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget sum income">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>

            </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">Total Income</span>
                        <h1 class="display-6 fw-bold">@ViewBag.TotalIncome</h1>
                </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget sum expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>

             </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">Total Expense</span>
                        <h1 class="display-6 fw-bold">@ViewBag.Totalexpense</h1>
                </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget sum balance">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>

            </div>
             <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Balance</span>
                    <h1 class="display-6 fw-bold">@ViewBag.balance</h1>
            </div>
        </div>
    </div>
</div>

@*chart section*@

<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Expense by Category</h5>

            </div>
         <ejs-accumulationchart id="expensedonut" enableSmartLabels background="#1a222b">
             <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DonutChart"
                     xName="categorywithicon" yName="amount"
                    innerRadius="60%" legendshape="Circle">
                     <e-accumulationseries-datalabel name="formattedAmount" visible>

                     </e-accumulationseries-datalabel>
                 </e-accumulation-series>
             </e-accumulation-series-collection>

             <e-accumulationchart-legendsettings position="Top" togglevisibility="false">
                 <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
             </e-accumulationchart-legendsettings>
             <e-accumulationchart-tooltipsettings enable shared></e-accumulationchart-tooltipsettings>

         </ejs-accumulationchart>

        </div>
    </div>

    <div class="col-md-8">
    <div class="widget chart">
        <div class="p-4">
            <h5 class="fw-bold">Income vs Expense</h5>

        </div>
       <ejs-chart id="spline-chart" background="#1a222b"
       >
           <e-chart-primaryxaxis valueType="Category">
               <e-majorgridlines width="0"></e-majorgridlines>
           </e-chart-primaryxaxis>
           <e-chart-primaryyaxis>
                    <e-majorgridlines width="0"></e-majorgridlines>

           </e-chart-primaryyaxis>
           <e-chart-chartarea>
               <e-chartarea-border width="0"></e-chartarea-border>
           </e-chart-chartarea>
           <e-series-collection>
                    <e-series dataSource="@ViewBag.splinedata" xname="day"
                    yName="income" name="income"
                    type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline" width="3"></e-series>
                    <e-series></e-series>
                    <e-series dataSource="@ViewBag.splinedata" xname="day"
                              yName="expense" name="expense"
                              type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline" width="3"></e-series>
                    <e-series></e-series>

           </e-series-collection>
           <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>


       </ejs-chart>

    </div>
</div>
</div>